{% extends 'pokemon/base.html' %} {% load static %} {% block head %}
<script type="module" src="{% static 'pokemon/js/main.js' %}"></script>
{% endblock %} {% block title %} Homepage {% endblock %} {% block content %}
<div class="bg_img__wrapper">
  <div class="bg_img__wrapper-wrapper">
    <img class="bg_img" src="/static/pokemon/images/pokeball2.svg" />
  </div>
</div>

<div class="container">
  <!-- Search bar -->
  <section class="search">
    <div class="search__text-wrapper">
      <h1 class="search__header">Pokedex</h1>
      <p class="search__text">
        Search for a Pokemon by name or using its national pokedex number.
      </p>
    </div>
    <div class="search__input-wrapper">
      <input
        class="search__input search-input"
        type="text"
        placeholder="Search your pokemon!"

      />

      <button class="search__button search-btn">
        <img src="{% static 'pokemon/images/pokeball.svg' %}" />
      </button>
    </div>
  </section>

  <!-- Filter controls -->
  <section id="filters" class="filters">
    <div class="u-flex u-justify-between">
      <button
        data-target="#filter-controls"
        class="visiblity__toggle u-flex u-items-center u-gap-8 button button--ghost u-p-0 button--no-hover"
      >
        <span>More Filters</span>
        <span>
          <span class="icon icon--md">
            <i class="fa-solid fa-sliders"></i>
          </span>
        </span>
      </button>

      <div class="u-flex u-items-center u-gap-8">
        <span>
          <h4 class="u-text-light">Sort by:</h4>
        </span>
        <span class="dropdown click-and-replace-text">
          <button class="dropdown__toggle dropdown__toggle--w-sm u-flex u-gap-8 u-justify-between" >
            <span class="click-and-replace-text__text">Ascending</span>
            <span class="icon icon--md">
              <i class="fa-solid fa-chevron-down"></i>
            </span>
          </button>

          <div id="sorting-options" data-filter-property="sort" class="dropdown__target select__container filter-state-container filter-state-container--select">
            <button data-default=true data-filter="ascending" class="select__item click-and-replace-text__toggle filter-state-select">
              <span>Ascending</span>
            </button>
            <button data-filter="descending" class="select__item click-and-replace-text__toggle filter-state-select">
              <span>Descending</span>
            </button>
          </div>
        </span>
      </div>
    </div>

    <div id="filter-controls" class="visiblity__target u-flex u-flex-col u-gap-28">
      <div class="u-grid u-grid-cols-2 u-justify-end">
        <div class="u-flex u-flex-col u-gap-20">
          <h2>Type & Weaknesses</h2>
          <div id="filter-type-options" class="filter-state-container filter-state-container--checkboxes u-grid u-cols-2 u-rows-9 u-gap-8">
          </div>
        </div>

        <div class="u-col-2 u-flex u-flex-col u-items-end u-gap-32">
          <div class="u-flex u-flex-col u-gap-20">
            <h2>Ability</h2>

            <div class="dropdown click-and-replace-text">
              <button class="dropdown__toggle dropdown__toggle--w-md">
                <span class="u-flex u-gap-8">
                  <span class="icon icon--sm">
                    <i class="fa-solid fa-bullseye"></i>
                  </span>
                  <span class="click-and-replace-text__text">All</span>
                </span>
                <span class="icon icon--sm">
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
              </button>

              <div id="filter-ability-options" data-filter-property="ability" class="filter_options dropdown__target add-all filter-state-container filter-state-container--select">
              </div>
            </div>
          </div>

          <div class="u-flex u-flex-col u-gap-20">
            <h2>Height</h2>
            <div class="dropdown click-and-replace-text">
              <button class="dropdown__toggle dropdown__toggle--w-md">
                <span class="u-flex u-gap-8">
                  <span class="icon icon--sm">
                    <i class="fa-solid fa-egg"></i>
                  </span>
                  <span class="click-and-replace-text__text">All</span>
                </span>
                <span class="icon icon--sm">
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
              </button>

              <div id="height-categories" data-filter-property="height" class="dropdown__target add-all filter-state-container filter-state-container--select">
              </div>
            </div>
          </div>

          <div class="u-flex u-flex-col u-gap-20  ">
            <h2>Weight</h2>
            <div class="dropdown click-and-replace-text">
              <button class="dropdown__toggle dropdown__toggle--w-md">
                <span class="u-flex u-gap-8">
                  <span class="icon icon--sm">
                    <i class="fa-solid fa-weight-hanging"></i>
                  </span>
                  <span class="click-and-replace-text__text">All</span>
                </span>
                <span class="icon icon--sm">
                  <i class="fa-solid fa-chevron-down"></i>
                </span>
              </button>
              <div id="weight-categories" data-filter-property="weight" class="dropdown__target add-all filter-state-container filter-state-container--select">

              </div>
            </div>   
          </div>
        </div>
      </div>

      <div class="u-flex u-justify-between">
        <div class="u-flex u-gap-20">
          <h2>ID Range</h2>
          <span class="u-flex u-gap-8 filter-state-container filter-state-container--inputs">
            <span>
              <label class="u-font-bold">from</label>
              <input class="filters__input validate__number-input" data-filter="fromId" data-default="1" min='1' max="1025" value="1" type="number"/>
            </span>
            <span>
              <label class="u-font-bold">to</label>
              <input class="filters__input validate__number-input" data-filter="toId" data-default="1025" min='1' max="1025" value="1025" type="number"/>
            </span>
          </span>
        </div>

        <div class="u-flex u-gap-8">
          <button id="reset-filters" class="button">
            <span class="icon icon--lg">
              <i class="fa-solid fa-rotate-right"></i>
            </span>
          </button>
          <button class="button button--primary search-btn">
            <span class="icon icon--lg">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
          </button>
        </div>
      </div>
  </section>

  <!-- Pokemon results -->
  <section class="results">
    <div id="pokemon-cards-container" class="results__container"></div>
    <div class="u-flex u-items-center u-justify-center">
      <button id="load-more" class="button button--primary">Load More</button>
    </div>
  </section>
</div>
{% endblock %}
