{% extends 'pokemon/base.html' %} {% load static %} {% block head %}
<script type="module" src="{% static 'pokemon/js/view.js' %}"></script>
{% endblock %} {% block title %} View {% endblock %} {% block content %}

<main>
  <article class="container-view">
    {% if error %}
      <p>An error occured : {{error}}</p>
    {% else %}

    <nav class="navigate-pokemons">

      <a class="button button--light" href="">
        <div class="u-flex u-gap-8 ">
          <span class="icon icon--lg">
            <i class="fa-solid fa-arrow-left"></i>
          </span>
          <span class="u-flex u-gap-8">
            <span id="prev-pokemon-id" class="navigate-pokemons__left-id"> </span>
            <p id="prev-pokemon-name"> </p>
          </span>
        </div>
      </a>

      <a class="button button--light" href="">
        <div class="u-flex u-gap-8 ">
          <span class="u-flex u-gap-8">
            <p id="next-pokemon-name"> </p>
            <span id="next-pokemon-id" class="navigate-pokemons__right-id"> </span>
          </span>
          <span class="icon icon--lg">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
        </div>
      </a>
    </nav>

    <article class="pokemon-detailed-card">
      <header>
          <div class="u-flex u-justify-center u-items-center u-gap-20">
            <h1>{{ details.name|capfirst }}</h1>
            <p id="pokemon-id-element" class="pokemon-detailed-card__id">{{ details.id }}</p>
          </div>
      </header>
      <section class="pokemon-detailed-card__content">
        <div class="pokemon-detailed-card__img pokemon-detailed-card__img--{{details.types.0.type.name}}">
          <img src={{official_artwork_url}}>
        </div>

        <div class="u-flex u-flex-col u-gap-20">
          <div class="u-flex u-flex-col u-gap-16">
            <h2>About</h2>
            <p>{{ flavor_text|capfirst }}</p>
          </div>

          <div class="u-flex u-flex-col u-gap-16">
            <div class="pokemon-detailed-card__detail">
              <div class="u-col-1 text-light">
                <span>Category</span>
              </div>

              <div class="u-col-2">
                <span class="">{{ category }}</span>
              </div>
            </div>

            <div class="pokemon-detailed-card__detail">
              <div class="u-col-1 text-light">
                <span>Weight</span>
              </div>

              <div class="u-col-2">
                <span class="">{{ weightKg }} kg</span>
              </div>
            </div>

            <div class="pokemon-detailed-card__detail">
              <div class="u-col-1 text-light">
                <span>Height</span>
              </div>

              <div class="u-col-2">
                <span class="">{{ heightFt }} ft</span>
              </div>
            </div>

            <div class="pokemon-detailed-card__detail">
              <div class="u-col-1 text-light">
                <span>Abilities</span>
              </div>

              <div class="u-col-2">
                <span class="">{{ abilitiesStr   }}</span>
              </div>
            </div>

            <div class="pokemon-detailed-card__detail">
              <div class="u-col-1 text-light">
                <span>Gender</span>
              </div>

              <div class="u-col-2 u-flex u-gap-8">
                {% if not gender_rates %}
                  <span>Genderless</span>

                {% else %}
                  <span class="u-flex u-gap-4 male_icon">
                    <span class="icon icon--md">
                      <i class="fa-solid fa-mars"></i>
                    </span>
                    <span>{{ gender_rates.male }}%</span>
                  </span>
                  <span class="u-flex u-gap-4 female_icon">
                    <span class="icon icon--md">
                      <i class="fa-solid fa-venus"></i>
                    </span>
                    <span>{{ gender_rates.female }}%</span>
                  </span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="u-flex u-flex-col u-gap-20">
          <h2>Base Stats</h2>

          <div class="u-flex u-flex-col u-gap-16">
            
            {% for stat_info in baseStats %}
              <div class="pokemon-detailed-card__detail u-gap-16">
                <div class="u-flex u-justify-between">
                  <span class="text-light">{{ stat_info.name }}</span>
                  <span>{{ stat_info.value }}</span>
                </div>

                <div class="grid u-cols-1 u-rows-1 u-items-center">
                  <div class="u-col-1 u-row-1 bar-fill bar-fill--green" style="width: {{stat_info.widthPercentage}}%;"></div>
                  <div class="u-col-1 u-row-1 bar-fill bar-fill--transparent"></div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>

        <div class="u-flex u-flex-col u-gap-20">
          <div class="u-flex u-flex-col u-gap-20">
            <h2>Type</h2>

            <div class="u-flex u-gap-8">
              {% for type in details.types %}
                <span class="pokemon-card__type pokemon-card__type--{{type.type.name}}">{{ type.type.name|capfirst }}</span>
              {% endfor %}
            </div>
          </div>

          <div class="u-flex u-flex-col u-gap-20">
            <h2>Weaknesses</h2>

            <div class="u-flex u-gap-8 u-flex-wrap" id="weaknesses">
            </div>
          </div>
        </div>

        <div class="pokemon-detailed-card__evolutions" class="u-flex u-flex-col u-gap-20">
          <div class="u-flex u-flex-col u-gap-20">
            <h2>Evolutions</h2>
            <!-- <p>This pokemon does not evolve.</p> -->

            <div class="u-flex u-justify-center u-items-center">
              
              {% for evolution in evolution_names %}

              <div class="pokemon-detailed-card__evolution-card">
                <a href="/1" class="inset-link"></a>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png">
                <p class="format-id text-light">1</p>
                <h3>{{ evolution }}</h3>
                <div class="u-flex u-justify-center u-items-center u-gap-4">
                  {% for type in details.types %}
                    <span class="pokemon-card__type pokemon-card__type--{{type.type.name}} pokemon-card__type--sm">{{ type.type.name|capfirst }}</span>
                  {% endfor %}
                </div>
              </div> 

              {% endfor %}
              
              <!-- <div class="pokemon-detailed-card__evolution-card">
                <div class="icon icon--lg">
                  <i class="fa-solid fa-arrow-right-long"></i>
                </div>
                <div>(Level 16)</div>
              </div> -->

              <!-- <div class="pokemon-detailed-card__evolution-card">
                <a href="/2" class="inset-link"></a>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/2.png">
                <p class="format-id text-light">2</p>
                <h3>Ivysaur</h3>
                <div class="u-flex u-justify-center u-items-center u-gap-4">
                  {% for type in details.types %}
                    <span class="pokemon-card__type pokemon-card__type--{{type.type.name}} pokemon-card__type--sm">{{ type.type.name|capfirst }}</span>
                  {% endfor %}
                </div>
              </div> -->
              
              <!-- <div class="pokemon-detailed-card__evolution-card">
                <div class="icon icon--lg">
                  <i class="fa-solid fa-arrow-right-long"></i>
                </div>
                <div>(Level 32)</div>
              </div> -->

              <!-- <div class="pokemon-detailed-card__evolution-card">
                <a href="/3" class="inset-link"></a>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/3.png">
                <p class="format-id text-light">3</p>
                <h3>Venusaur</h3>
                <div class="u-flex u-justify-center u-items-center u-gap-4">
                  {% for type in details.types %}
                    <span class="pokemon-card__type pokemon-card__type--{{type.type.name}} pokemon-card__type--sm">{{ type.type.name|capfirst }}</span>
                  {% endfor %}
                </div>
              </div> -->

            </div>
          </div>
        </div>
      </section>
    </article>
    {% endif %}
  </div>
</main>




<script id="typesOfPokemon" type="application/json">{{ types|safe }}</script>
<script id="pokemonId" type="application/json">{{ details.id|safe }}</script>

{% endblock %}
