$main-font: 'Inter', sans-serif;
$creamy-white: #F6F8FC;
$primary-red: #FF5350;
$secondary-color: oklch(55.1% 0.027 264.364);
$text-color: #1D293D;
$dark-grey: oklch(37.2% 0.044 257.287);
$lighter-dark-color: oklch(44.6% 0.043 257.281);
$text-light: rgba($text-color, 0.5);
$bluish-gray: oklch(70.4% 0.04 256.788);
$sky: oklch(68.5% 0.169 237.323);
$pink: oklch(59.1% 0.293 322.896);

$drop-shadow-properties: 0px 4px 12px 0px; // offset-x = 0, offset-y = 4, blur = 8, spread = 0? right?
$xs-drop-shadow: 0px 4px 8px 0px; // offset-x = 0, offset-y = 4, blur = 8, spread = 0? right?
$drop-shadow-color: rgba(#1D293D, 0.1);

$pokemon-types: (
  // "name-of-type": (card-color, indicator-color, text-color='white')
  "normal":   ( #abab8c60, #ABAB8C),
  'fighting': (#cc000054, #CC0001),
  "grass":    ( #5ed0b573, #5ED0B5),
  "fire":     ( #fa731371, #FA7213 ),
  "water":    ( #8cc7fa7e, #8CC7FA ),
  "electric": ( #fcd52977,#FCD429, $text-color),
  "flying":   ( #a991fe79, #A991FE ),
  "bug":   ( #a9d31e6e, #A8D31E, black),
  "poison":   ( #ac06c64d, #AB06C6),
  "ground":   ( #e5bb6165, #E5BB61),
  "rock":   ( #c4900162, #C48F01),
  "ice":   ( #43defd6e, #43defd6e, $text-color),
  "dragon": (#6621ef5e, #6721EF),
  'steel': (#9e9fba67, #9E9FBA),
  'ghost': (#6b3e9567, #6B3E95),
  'dark': (#48484852, #484848),
  'psychic': (#fe4f9b57, #FE4F9C, white),
  'fairy': (#f9a7d163, #F9A7D2, white),
)