* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  min-height: 100vh;
  max-width: 900px;
  width: 100%;
  padding: 80px 0px 40px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.container-view {
  min-height: 100vh;
  max-width: 900px;
  width: 100%;
  padding: 80px 0px 40px 0px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.results__container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.search__btns-wrapper {
  display: flex;
  gap: 1rem;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 10;
}

.search__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search__header {
  font-weight: bold;
  font-size: 36px;
  background-color: transparent;
}

.search__text {
  font-size: 18px;
}

.search__input-wrapper {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 4px 12px 0px rgba(29, 41, 61, 0.1);
  border-radius: 10px;
  gap: 16px;
}

.search__input {
  height: 20px;
  border: 0;
  font-size: 16px;
  background: none;
  outline: none;
}
.search__input::-moz-placeholder {
  color: rgba(29, 41, 61, 0.5);
}
.search__input::placeholder {
  color: rgba(29, 41, 61, 0.5);
}

.search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #FF5350;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 8px 0px rgba(255, 83, 80, 0.5);
  cursor: pointer;
}
.search__button:hover, .search__button:focus-visible {
  filter: brightness(85%);
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pokemon-card {
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 16px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  transition: transform 0.2s ease-out;
  cursor: pointer;
}
.pokemon-card:hover {
  transform: translateY(-2px);
}
.pokemon-card--loading {
  background-color: rgba(29, 41, 61, 0.1);
  width: 100%;
  box-shadow: none;
  cursor: default;
  transition: none;
}
.pokemon-card__loader-wrapper {
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-card__loader {
  border-radius: 50%;
  border: 5px solid #FF5350;
  border-top-color: transparent;
  width: 40px;
  height: 40px;
  animation-name: loading;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.pokemon-card--normal {
  background-color: rgba(171, 171, 140, 0.3764705882);
}
.pokemon-card--fighting {
  background-color: rgba(204, 0, 0, 0.3294117647);
}
.pokemon-card--grass {
  background-color: rgba(94, 208, 181, 0.4509803922);
}
.pokemon-card--fire {
  background-color: rgba(250, 115, 19, 0.4431372549);
}
.pokemon-card--water {
  background-color: rgba(140, 199, 250, 0.4941176471);
}
.pokemon-card--electric {
  background-color: rgba(252, 213, 41, 0.4666666667);
}
.pokemon-card--flying {
  background-color: rgba(169, 145, 254, 0.4745098039);
}
.pokemon-card--bug {
  background-color: rgba(169, 211, 30, 0.431372549);
}
.pokemon-card--poison {
  background-color: rgba(172, 6, 198, 0.3019607843);
}
.pokemon-card--ground {
  background-color: rgba(229, 187, 97, 0.3960784314);
}
.pokemon-card--rock {
  background-color: rgba(196, 144, 1, 0.3843137255);
}
.pokemon-card--ice {
  background-color: rgba(67, 222, 253, 0.431372549);
}
.pokemon-card--dragon {
  background-color: rgba(102, 33, 239, 0.368627451);
}
.pokemon-card--steel {
  background-color: rgba(158, 159, 186, 0.4039215686);
}
.pokemon-card--ghost {
  background-color: rgba(107, 62, 149, 0.4039215686);
}
.pokemon-card--dark {
  background-color: rgba(72, 72, 72, 0.3215686275);
}
.pokemon-card--psychic {
  background-color: rgba(254, 79, 155, 0.3411764706);
}
.pokemon-card--fairy {
  background-color: rgba(249, 167, 209, 0.3882352941);
}
.pokemon-card__ball {
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 125px;
  height: 125px;
  filter: opacity(25%);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.pokemon-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.pokemon-card__id {
  font-size: 14px;
  color: rgba(29, 41, 61, 0.5);
}
.pokemon-card__content-wrapper {
  display: flex;
  justify-content: space-between;
}
.pokemon-card__sprite {
  max-width: 150px;
  max-height: 150px;
  z-index: 5;
}
.pokemon-card__types {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
}
.pokemon-card__type {
  padding: 4px 10px;
  border-radius: 20px;
  width: 5rem;
  text-align: center;
  background-color: white;
  display: inline-block;
  color: #1D293D;
  font-weight: 500;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.pokemon-card__type--normal {
  background-color: #ABAB8C;
  color: white;
}
.pokemon-card__type--fighting {
  background-color: #CC0001;
  color: white;
}
.pokemon-card__type--grass {
  background-color: #5ED0B5;
  color: white;
}
.pokemon-card__type--fire {
  background-color: #FA7213;
  color: white;
}
.pokemon-card__type--water {
  background-color: #8CC7FA;
  color: white;
}
.pokemon-card__type--electric {
  background-color: #FCD429;
  color: #1D293D;
}
.pokemon-card__type--flying {
  background-color: #A991FE;
  color: white;
}
.pokemon-card__type--bug {
  background-color: #A8D31E;
  color: black;
}
.pokemon-card__type--poison {
  background-color: #AB06C6;
  color: white;
}
.pokemon-card__type--ground {
  background-color: #E5BB61;
  color: white;
}
.pokemon-card__type--rock {
  background-color: #C48F01;
  color: white;
}
.pokemon-card__type--ice {
  background-color: rgba(67, 222, 253, 0.431372549);
  color: #1D293D;
}
.pokemon-card__type--dragon {
  background-color: #6721EF;
  color: white;
}
.pokemon-card__type--steel {
  background-color: #9E9FBA;
  color: white;
}
.pokemon-card__type--ghost {
  background-color: #6B3E95;
  color: white;
}
.pokemon-card__type--dark {
  background-color: #484848;
  color: white;
}
.pokemon-card__type--psychic {
  background-color: #FE4F9C;
  color: white;
}
.pokemon-card__type--fairy {
  background-color: #F9A7D2;
  color: white;
}
.pokemon-card__link {
  position: absolute;
  inset: 0%;
  border-radius: inherit;
  z-index: 20;
}
.pokemon-card__link:focus-visible {
  border: 2px solid #1D293D;
}

.pokemon-detailed-card {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px 0px rgba(29, 41, 61, 0.1);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.pokemon-detailed-card > * {
  padding: 20px 30px;
}

.pokemon-detailed-card__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.pokemon-detailed-card__img {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokemon-detailed-card__img--normal {
  background-color: rgba(171, 171, 140, 0.3764705882);
}
.pokemon-detailed-card__img--fighting {
  background-color: rgba(204, 0, 0, 0.3294117647);
}
.pokemon-detailed-card__img--grass {
  background-color: rgba(94, 208, 181, 0.4509803922);
}
.pokemon-detailed-card__img--fire {
  background-color: rgba(250, 115, 19, 0.4431372549);
}
.pokemon-detailed-card__img--water {
  background-color: rgba(140, 199, 250, 0.4941176471);
}
.pokemon-detailed-card__img--electric {
  background-color: rgba(252, 213, 41, 0.4666666667);
}
.pokemon-detailed-card__img--flying {
  background-color: rgba(169, 145, 254, 0.4745098039);
}
.pokemon-detailed-card__img--bug {
  background-color: rgba(169, 211, 30, 0.431372549);
}
.pokemon-detailed-card__img--poison {
  background-color: rgba(172, 6, 198, 0.3019607843);
}
.pokemon-detailed-card__img--ground {
  background-color: rgba(229, 187, 97, 0.3960784314);
}
.pokemon-detailed-card__img--rock {
  background-color: rgba(196, 144, 1, 0.3843137255);
}
.pokemon-detailed-card__img--ice {
  background-color: rgba(67, 222, 253, 0.431372549);
}
.pokemon-detailed-card__img--dragon {
  background-color: rgba(102, 33, 239, 0.368627451);
}
.pokemon-detailed-card__img--steel {
  background-color: rgba(158, 159, 186, 0.4039215686);
}
.pokemon-detailed-card__img--ghost {
  background-color: rgba(107, 62, 149, 0.4039215686);
}
.pokemon-detailed-card__img--dark {
  background-color: rgba(72, 72, 72, 0.3215686275);
}
.pokemon-detailed-card__img--psychic {
  background-color: rgba(254, 79, 155, 0.3411764706);
}
.pokemon-detailed-card__img--fairy {
  background-color: rgba(249, 167, 209, 0.3882352941);
}
.pokemon-detailed-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pokemon-detailed-card__detail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-weight: 600;
}

.text-light {
  color: rgba(29, 41, 61, 0.5);
}

.navigate-pokemons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.navigate-pokemons__left-id, .navigate-pokemons__right-id {
  color: rgba(29, 41, 61, 0.5);
}

.female_icon {
  color: oklch(59.1% 0.293 322.896deg);
}

.male_icon {
  color: oklch(68.5% 0.169 237.323deg);
}

.bg_img__wrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -5;
}

.bg_img__wrapper_wrapper {
  position: relative;
}

.bg_img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  top: -100px;
  right: -100px;
  filter: invert(1) opacity(5%);
  z-index: -5;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon--sm {
  font-size: 1rem;
  max-width: 1rem;
}
.icon--md {
  font-size: 18px;
  max-width: 18px;
}
.icon--lg {
  font-size: 20px;
  max-width: 20px;
}
.icon--white {
  color: white;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 16px 24px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #1D293D;
  border: none;
  cursor: pointer;
  cursor: pointer;
}
.button:hover, .button:focus-visible {
  filter: brightness(85%);
}
.button--primary {
  background-color: #FF5350;
  color: white;
}
.button--light {
  background-color: rgba(29, 41, 61, 0.8);
}
.button--hidden {
  display: none;
}
.button--ghost {
  background-color: transparent;
}
.button--outline {
  background-color: transparent;
  border: 1px;
}
.button--no-hover:hover {
  background-color: none;
  filter: none;
}

.filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.filters__input {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #1D293D;
  max-width: 5rem;
}

.filters__btn-container {
  display: flex;
  gap: 1rem;
}

.flex-item {
  flex: 1;
}

.filters__btn {
  padding: 0px 12px;
  border-radius: 10px;
  background-color: rgba(29, 41, 61, 0.9);
  color: white;
  border: none;
}

.rounded {
  border-radius: 50%;
  background-color: rgba(29, 41, 61, 0.8);
  padding: 4px;
}

.dropdown {
  position: relative;
}

.dropdown__toggle {
  width: 100%;
  background-color: oklch(37.2% 0.044 257.287deg);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown__toggle:focus-visible {
  outline-color: #FF5350;
  filter: brightness(0.8);
}

/* Handle long text with "..." */
.click-and-replace-text__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  text-align: left;
}

.dropdown__toggle--w-sm {
  width: 150px;
}

.filter-section {
  width: 100%;
}

.dropdown__toggle--w-md {
  width: 100%;
}

.dropdown__target {
  position: absolute;
  visibility: hidden;
  background-color: oklch(44.6% 0.043 257.281deg);
  color: white;
  width: 100%;
  top: 100%;
  left: 0%;
  z-index: 10;
  margin-top: 8px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(29, 41, 61, 0.3);
}

.dropdown__target--open {
  visibility: visible;
}

.visiblity__target {
  position: absolute;
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
}

.select__container {
  display: flex;
  flex-direction: column;
}

.select__item {
  color: white;
  padding: 1rem 1rem;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: start;
  align-items: center;
  border: none;
  text-align: start;
  font-weight: 500;
  cursor: pointer;
  border-top: 1px solid oklch(70.4% 0.04 256.788deg / 0.4);
}
.select__item:hover {
  background-color: oklch(70.4% 0.04 256.788deg / 0.2);
}

.select__item--no-hover:hover {
  background-color: rgba(29, 41, 61, 0);
}

.filter_options {
  max-height: 400px;
  overflow-y: scroll;
}

.toggle__ui {
  position: relative;
  display: block;
  width: 33px;
  height: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggle__ui::before {
  content: "";
  color: rgba(29, 41, 61, 0.5);
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  border: 2px solid rgba(29, 41, 61, 0.5);
  transition: color 0.1s ease-in-out;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle__ui--type::before {
  content: "T";
}

.toggle__ui--weakness::before {
  content: "W";
}

.toggle__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.toggle__input:checked + .toggle__ui::before {
  color: #FF5350;
  border-color: #FF5350;
}

.toggle__input:focus-visible + .toggle__ui::before {
  outline: solid black;
  filter: brightness(0.9);
}

#filter-controls {
  background-color: white;
  box-shadow: 0px 4px 12px 0px rgba(29, 41, 61, 0.1);
  padding: 30px 40px;
  border-radius: 10px;
}

#filter-type-options {
  -moz-column-gap: 28px;
       column-gap: 28px;
  width: 100%;
}

.filter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 30px;
}

.id-range {
  align-items: end;
}

.filter-btn-text::before {
  content: "Advanced Filters";
}

.back-to-top {
  flex-direction: column;
  position: fixed;
  display: flex;
  bottom: 2rem;
  right: 2rem;
  gap: 8px;
  color: #FF5350;
  border: none;
  background-color: transparent;
  z-index: 100;
  cursor: pointer;
  opacity: 0; /* Start fully transparent */
  pointer-events: none; /* Make it unclickable when invisible */
  transform: translateY(20px); /* Optional: Start slightly lower for a slide-up effect */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.back-to-top--show {
  opacity: 1; /* Make it fully visible */
  pointer-events: auto; /* Make it clickable again */
  transform: translateY(0); /* Optional: Move it to its final position */
}

.back-to-top__symbol {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 600;
  background-color: white;
  color: #FF5350;
  box-shadow: 0px 4px 12px 0px rgba(29, 41, 61, 0.1);
}

.bar-fill {
  height: 6px;
  border-radius: 10px;
}
.bar-fill--green {
  background-color: oklch(79.2% 0.209 151.711deg);
}
.bar-fill--red {
  background-color: oklch(64.5% 0.246 16.439deg);
}
.bar-fill--transparent {
  background-color: rgba(29, 41, 61, 0.1);
}

@media (max-width: 750px) {
  .pokemon-card {
    padding: 10px 15px;
  }
  .results__container {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  #filter-controls {
    padding: 15px 20px;
  }
  .back-to-top {
    bottom: 1rem;
    right: 1rem;
  }
}
@media (max-width: 700px) {
  .filter-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 40px;
  }
  .filter-grid > * {
    grid-column: 1/-1 !important; /* Tell every item to start at column line 1 and end at the very last line (-1) */
    grid-row: auto !important;
    align-items: start !important;
  }
  .filter-section {
    width: 100%;
  }
  .dropdown__toggle--w-md {
    width: 100%;
  }
  .dropdown__toggle {
    width: 100%;
  }
  .id-range {
    align-items: center;
  }
}
@media (max-width: 450px) {
  #filter-controls {
    padding: 10px;
  }
  #filter-type-options {
    -moz-column-gap: 14px;
         column-gap: 14px;
    width: 100%;
  }
  #filter-type-options .pokemon-card__type {
    width: 4.5rem;
    padding-left: 0px;
    padding-right: 0px;
  }
  .filter-btn-text::before {
    content: "Filters" !important;
  }
}
@media (max-width: 550px) {
  .results__container {
    grid-template-columns: 1fr;
  }
  .pokemon-card {
    padding: 10px 20px;
  }
}
.u-gap-4 {
  gap: 4px;
}

.u-px-4 {
  padding-left: 2px;
  padding-right: 2px;
}

.u-gap-8 {
  gap: 8px;
}

.u-px-8 {
  padding-left: 4px;
  padding-right: 4px;
}

.u-gap-12 {
  gap: 12px;
}

.u-px-12 {
  padding-left: 6px;
  padding-right: 6px;
}

.u-gap-16 {
  gap: 16px;
}

.u-px-16 {
  padding-left: 8px;
  padding-right: 8px;
}

.u-gap-20 {
  gap: 20px;
}

.u-px-20 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-gap-24 {
  gap: 24px;
}

.u-px-24 {
  padding-left: 12px;
  padding-right: 12px;
}

.u-gap-28 {
  gap: 28px;
}

.u-px-28 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-gap-32 {
  gap: 32px;
}

.u-px-32 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-gap-36 {
  gap: 36px;
}

.u-px-36 {
  padding-left: 18px;
  padding-right: 18px;
}

.u-gap-40 {
  gap: 40px;
}

.u-px-40 {
  padding-left: 20px;
  padding-right: 20px;
}

.grid {
  display: grid;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-flex {
  display: flex;
}

.u-items-center {
  align-items: center;
}

.u-justify-center {
  justify-content: center;
}

.u-items-end {
  align-items: end;
}

.u-flex-col {
  flex-direction: column;
}

.u-justify-between {
  justify-content: space-between;
}

.u-justify-end {
  justify-content: end;
}

.u-w-full {
  width: 100%;
}

.u-p-0 {
  padding: 0;
}

.u-font-bold {
  font-weight: bold;
}

.u-font-normal {
  font-weight: normal;
}

.u-text-light {
  color: rgba(29, 41, 61, 0.5);
}

.u-border--light {
  border: rgba(29, 41, 61, 0.8);
}

.u-grid {
  display: grid;
}

.u-m-auto {
  margin: auto;
}

.u-h-full {
  height: 100%;
}

.u-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.u-rows-1 {
  grid-template-rows: repeat(1, 1fr);
}

.u-col-1 {
  grid-column: 1/2;
}

.u-row-1 {
  grid-row: 1/2;
}

.u-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.u-rows-2 {
  grid-template-rows: repeat(2, 1fr);
}

.u-col-2 {
  grid-column: 2/3;
}

.u-row-2 {
  grid-row: 2/3;
}

.u-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.u-rows-3 {
  grid-template-rows: repeat(3, 1fr);
}

.u-col-3 {
  grid-column: 3/4;
}

.u-row-3 {
  grid-row: 3/4;
}

.u-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.u-rows-4 {
  grid-template-rows: repeat(4, 1fr);
}

.u-col-4 {
  grid-column: 4/5;
}

.u-row-4 {
  grid-row: 4/5;
}

.u-cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.u-rows-5 {
  grid-template-rows: repeat(5, 1fr);
}

.u-col-5 {
  grid-column: 5/6;
}

.u-row-5 {
  grid-row: 5/6;
}

.u-cols-6 {
  grid-template-columns: repeat(6, 1fr);
}

.u-rows-6 {
  grid-template-rows: repeat(6, 1fr);
}

.u-col-6 {
  grid-column: 6/7;
}

.u-row-6 {
  grid-row: 6/7;
}

.u-cols-7 {
  grid-template-columns: repeat(7, 1fr);
}

.u-rows-7 {
  grid-template-rows: repeat(7, 1fr);
}

.u-col-7 {
  grid-column: 7/8;
}

.u-row-7 {
  grid-row: 7/8;
}

.u-cols-8 {
  grid-template-columns: repeat(8, 1fr);
}

.u-rows-8 {
  grid-template-rows: repeat(8, 1fr);
}

.u-col-8 {
  grid-column: 8/9;
}

.u-row-8 {
  grid-row: 8/9;
}

.u-cols-9 {
  grid-template-columns: repeat(9, 1fr);
}

.u-rows-9 {
  grid-template-rows: repeat(9, 1fr);
}

.u-col-9 {
  grid-column: 9/10;
}

.u-row-9 {
  grid-row: 9/10;
}

.u-cols-10 {
  grid-template-columns: repeat(10, 1fr);
}

.u-rows-10 {
  grid-template-rows: repeat(10, 1fr);
}

.u-col-10 {
  grid-column: 10/11;
}

.u-row-10 {
  grid-row: 10/11;
}

.u-cols-11 {
  grid-template-columns: repeat(11, 1fr);
}

.u-rows-11 {
  grid-template-rows: repeat(11, 1fr);
}

.u-col-11 {
  grid-column: 11/12;
}

.u-row-11 {
  grid-row: 11/12;
}

.u-cols-12 {
  grid-template-columns: repeat(12, 1fr);
}

.u-rows-12 {
  grid-template-rows: repeat(12, 1fr);
}

.u-col-12 {
  grid-column: 12/13;
}

.u-row-12 {
  grid-row: 12/13;
}

.u-max-w-half {
  max-width: 50%;
}

.u-justify-evenly {
  justify-content: space-evenly;
}

body {
  background-color: #F6F8FC;
  font-family: "Inter", sans-serif;
  color: #1D293D;
  padding: 0px 16px;
}/*# sourceMappingURL=main.css.map */